[Unit]
Description=Mailbox synchronization timer

[Timer]
OnCalendar=*-*-* 00/1:00:00
Persistent=true
Unit=mbsync.service

[Install]
WantedBy=timers.target
