[Unit]
Description=Watching for storage devices with udisks and automount them

[Service]
Type=simple
ExecStart=/home/ivan/bin/udisks-watch

[Install]
WantedBy=default.target
